.Hero {
	background-image: url('../../assets/closeup.png');
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;

	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;

	position: relative;
	height: calc(100vh - 64px);
	width: 100vw;
}

.hero-overlay::before {
	position: relative;
	z-index: 0;
}

.hero-overlay::after {
	background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.85));
	content: '';
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	position: absolute;
}

.hero-text {
	margin: 200px 10% 0;
	z-index: 1;
}

h2,
h3,
h4 {
	color: white;
	font-family: 'Mulish', Helvetica, Arial, Lucida, sans-serif;
	margin: 20px 0 0 0;
	text-align: left;
}

h2 {
	font-family: 'Times New Roman', serif;
	font-size: 50px;
	font-weight: 500;
}

h3 {
	font-size: 21px;
	line-height: 1.3;
}

h4 {
	font-size: 16px;
	font-weight: 600;
}

@media screen and (max-width: 1000px) {
	.Hero {
		justify-content: flex-end;
	}

	.hero-text {
		padding-bottom: 40px;
	}
}

@media screen and (max-width: 770px) {
	h2 {
		font-size: 34px;
	}
}
