.Header {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.85);
	display: flex;
	justify-content: center;
	height: 64px;
	padding: 10px 0;
}

.header-buttons {
	display: flex;
	justify-content: flex-end;
	width: 80%;
}

@media screen and (max-width: 500px) {
	.header-buttons {
		justify-content: space-evenly;
	}
}
